{% block collection_javascript %}
{% spaceless %}
    {% for child in form %}
        {{ form_javascript(child) }}
    {% endfor %}
    <script type="text/javascript">
        $(document).ready(function() {
            var items{{ name|capitalize }}Count = {{ form|keys ? (max(form|keys) + 1) : form|length }};

            $('#add-{{ name }}-{{ id }}').click(function() {
                var valueList       = $('#edit_{{ name }}-{{ id }}');
                var newWidget       = valueList.data('prototype');
                var newJavascript   = valueList.data('javascript-prototype');
                newWidget           = newWidget.replace(/{{ prototype_name }}/g, items{{ name|capitalize }}Count);
                newJavascript       = newJavascript.replace(/{{ prototype_name }}/g, items{{ name|capitalize }}Count);
                {% if 'pre_add' in callbacks|keys %}
                    {{ callbacks.pre_add|raw }}
                {% endif %}

                items{{ name|capitalize }}Count ++;

                var newItem = $("<li></li>").append(newWidget);
                valueList.append(newItem);
                {% if allow_delete %}
                    addTagFormDeleteLink{{ name }}($(newItem));
                {% endif %}
                $(newJavascript).appendTo(document.head);
                {% if 'post_add' in callbacks|keys %}
                    {{ callbacks.post_add|raw }}
                {% endif %}
                return false;
            });

            {% if allow_delete %}
                $('#edit_{{ name }}-{{ id }} > li').not('ul.errors li').each(function() {
                    addTagFormDeleteLink{{ name }}($(this));
                });
            {% endif %}
        });

        function addTagFormDeleteLink{{ name }}($tagForm) {
            var $removeFormA = $('<a href="#" class="link_icon_mini"><i class="i_delete"></i></a>');
            {% if 'pre_append_delete_link' in callbacks|keys %}
                {{ callbacks.pre_append_delete_link|raw }}
            {% endif %}
            $tagForm.append($removeFormA);

            $removeFormA.on('click', function(e) {
                {% if 'pre_remove' in callbacks|keys %}
                    {{ callbacks.pre_remove|raw }}
                {% endif %}
                e.preventDefault();
                {% if (removing_message is defined) and (removing_message is not empty) %}
                    if (confirm("{{ removing_message|trans({}, translation_domain) }}")) {
                        $tagForm.remove();
                    }
                {% else %}
                    $tagForm.remove();
                {% endif %}
                {% if 'post_remove' in callbacks|keys %}
                    {{ callbacks.post_remove|raw }}
                {% endif %}
            });
        }
    </script>
{% endspaceless %}
{% endblock collection_javascript %}

{% block collection_widget %}
{% spaceless %}
    <ul class="collection" id="edit_{{ name }}-{{ id }}" data-prototype='{{ prototype is defined ? form_widget(prototype)|e('html') : '' }}' data-javascript-prototype="{{ prototype is defined ? form_javascript(prototype)|escape('html') : '' }}">
        {% for child in form %}
            <li>
                {{- form_errors(child) -}}
                {{- form_widget(child) -}}
            </li>
        {% endfor %}
    </ul>
    {% if prototype is defined %}
        <a class="button-add" href="#" id="add-{{ name }}-{{ id }}">
            {{- add_label -}}
        </a>
    {% endif %}
{% endspaceless %}
{% endblock collection_widget %}